@*@{
    Layout = null;
}*@

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Yock's Resume</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/MicrosoftMvc")
    @Scripts.Render("~/bundles/jqueryTemplates")

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

</head>
<body>
    @*@Html.ActionLink("download pdf", "DownloadPdf")
    @Html.ActionLink("download exl", "CreateExcel")*@
    <a href="/DownloadPDF/CreatePDF">Download PDF</a>
    <a href="/DownloadExcel/CreateExcel">Download Excel</a>
    
    <table style='width:100%;'>
        <tr>
            <td style='text-align:center; height:90px; font-weight:bold;' class="testmode"><h1>履歷表</h1></td>
        </tr>
        <tr>
            <td style='vertical-align:top; font-size:20px;' class="testmode">
                <table id="MyTable" style='border:1px solid #000000; width:100%;' cellpadding='0' cellspacing='0'>
                    <tr>
                        <td colspan=" 5" style='border:1px solid #000000; height:50px; text-align:center; font-size:24px; font-weight:bold; color:white; background-color:#200090;'>
                    基本資料
</td>
                    </tr>
                    <tr>
                        <td rowspan="6" style='border:1px solid #000000; width:20%; text-align:center; font-size:20px;'><img src="../images/YC_.jpg" alt="..."></td>
                        <td style='border:1px solid #000000; width:10%; text-align:center;'>姓名</td>
                        <td style='border:1px solid #000000; width:30%; text-align:left; padding-left:15px;'>張益誠</td>
                        <td style='border:1px solid #000000; width:10%; text-align:center;'>性別</td>
                        <td style='border:1px solid #000000; width:30%; text-align:left; padding-left:15px; letter-spacing :15px;' class="fa-ul">
                            <i class="fa fa-check-square"></i>男
                            <i class="fa fa-square"></i>女
                        </td>
                    </tr>
                    <tr>
                        <td style='border:1px solid #000000; width:10%; text-align:center;'>生日</td>
                        <td style='border:1px solid #000000; width:30%; text-align:left; padding-left:15px;'>80年05月31日</td>
                        <td style='border:1px solid #000000; width:10%; text-align:center;'>身高體重</td>
                        <td style='border:1px solid #000000; width:30%; text-align:left; padding-left:15px;'>165公分、65公斤</td>
                    </tr>
                    <tr>
                        <td style='border:1px solid #000000; width:10%; text-align:center;'>駕照</td>
                        <td style='border:1px solid #000000; width:30%; text-align:left; padding-left:15px;'>汽車、機車，自備機車</td>
                        <td style='border:1px solid #000000; width:10%; text-align:center;'>婚姻狀況</td>
                        <td style='border:1px solid #000000; width:30%; text-align:left; padding-left:15px; letter-spacing :6px;' class="fa-ul">
                            <i class="fa fa-check-square"></i>未婚
                            <i class="fa fa-square"></i>已婚
                        </td>
                    </tr>
                    <tr>
                        <td style='border:1px solid #000000; width:10%; text-align:center;'>兵役狀況</td>
                        <td style='border:1px solid #000000; width:30%; text-align:left; padding-left:15px;'>役畢 (退伍時間: 2014年5月)</td>
                        <td style='border:1px solid #000000; width:10%; text-align:center;'>連絡電話</td>
                        <td style='border:1px solid #000000; width:30%; text-align:left; padding-left:15px;'>0978901805</td>
                    </tr>
                    <tr>
                        <td style='border:1px solid #000000; width:10%; text-align:center;'>聯絡地址</td>
                        <td style='border:1px solid #000000; width:30%; text-align:left; padding-left:15px;'>新北市汐止區合順街84號2F-5</td>
                        <td style='border:1px solid #000000; width:10%; text-align:center;'>電子郵件</td>
                        <td style='border:1px solid #000000; width:30%; text-align:left; padding-left:15px;'>yock5378@gmail.com</td>
                    </tr>
                    <tr>
                        <td style='border:1px solid #000000; width:10%; text-align:center;'>興趣</td>
                        <td colspan="3" style='border:1px solid #000000; width:70%; text-align:left; padding-left:15px;'>
                            平時喜歡聽音樂、看電影，假日時常常約朋友騎單車到較遠的地方看風景吹吹風，一方面可以增強體力，另外也能紓解平日累積的壓力。
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td style='vertical-align:top; font-size:20px;' class="testmode">
                <table style='border:1px solid #000000; width:100%;' cellpadding='0' cellspacing='0'>
                    <tr>
                        <td colspan="4" style='border:1px solid #000000; height:50px; text-align:center; font-size:24px; font-weight:bold; color:white; background-color:#200090;'>學歷</td>
                    </tr>
                    <tr style='height:40px;'>
                        <td style='border:1px solid #000000; width:16%; text-align:center;'></td>
                        <td style='border:1px solid #000000; width:28%; text-align:center;'>學校名稱</td>
                        <td style='border:1px solid #000000; width:28%; text-align:center;'>科系名稱</td>
                        <td style='border:1px solid #000000; width:28%; text-align:center;'>就讀期間</td>
                    </tr>
                    <tr style='height:40px;'>
                        <td style='border:1px solid #000000; width:16%; text-align:center;'>最高學歷</td>
                        <td style='border:1px solid #000000; width:28%; text-align:center;'>台中市 靜宜大學</td>
                        <td style='border:1px solid #000000; width:28%; text-align:center;'>資訊工程學系</td>
                        <td style='border:1px solid #000000; width:28%; text-align:center;'>2009/07 ~ 2013/05</td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td style='vertical-align:top; font-size:20px;' class="testmode">
                <table style='border:1px solid #000000; width:100%;' cellpadding='0' cellspacing='0'>
                    <tr>
                        <td colspan="2" style='border:1px solid #000000; height:50px; text-align:center; font-size:24px; font-weight:bold; color:white; background-color:#200090;'>專長與技能</td>
                    </tr>
                    <tr style='height:40px;'>
                        <td style='border:1px solid #000000; width:20%; text-align:center;'>程式語言</td>
                        <td style='border:1px solid #000000; width:80%; text-align:left; padding-left:15px;'>C、ASP.NET MVC、HTML</td>
                    </tr>
                    <tr style='height:40px;'>
                        <td style='border:1px solid #000000; width:20%; text-align:center;'>資料庫</td>
                        <td style='border:1px solid #000000; width:80%; text-align:left; padding-left:15px;'>MS SQL Server</td>
                    </tr>
                    <tr style='height:40px;'>
                        <td style='border:1px solid #000000; width:20%; text-align:center;'>軟體操作</td>
                        <td style='border:1px solid #000000; width:80%; text-align:left; padding-left:15px;'>Windows、Office、Photoshop</td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td style='vertical-align:top; font-size:20px;' class="testmode">
                <table style='border:1px solid #000000; width:100%;' cellpadding='0' cellspacing='0'>
                    <tr>
                        <td colspan="3" style='border:1px solid #000000; height:50px; text-align:center; font-size:24px; font-weight:bold; color:white; background-color:#200090;'>工作經歷</td>
                    </tr>
                    <tr style='height:40px;'>
                        <td style='border:1px solid #000000; width:20%; text-align:center;'>服務單位</td>
                        <td style='border:1px solid #000000; width:40%; text-align:center;'>職稱及服務時間</td>
                        <td style='border:1px solid #000000; width:40%; text-align:center;'>主要工作</td>
                    </tr>
                    <tr style='height:40px;'>
                        <td style='border:1px solid #000000; width:20%; text-align:left; padding-left:15px;'>研通科技股份有限公司</td>
                        <td style='border:1px solid #000000; width:40%; text-align:left; padding-left:15px;'>
                            工程師(RD)
                            <br />
                            2014/08 ~ 2016/08
                        </td>
                        <td style='border:1px solid #000000; width:40%; text-align:left; padding-left:15px;'>擔任MCU產品研發工程師，主要是依客戶提供的規格表設計一套程式流程進而實作之。</td>
                    </tr>

                </table>
            </td>
        </tr>

        <tr>
            <td style='vertical-align:top; font-size:20px;' class="testmode">
                <table style='border:1px solid #000000; width:100%;' cellpadding='0' cellspacing='0'>
                    <tr>
                        <td colspan="2" style='border:1px solid #000000; height:50px; text-align:center; font-size:24px; font-weight:bold; color:white; background-color:#200090;'>個人優缺點</td>
                    </tr>
                    <tr style='height:40px;'>
                        <td style='border:1px solid #000000; width:20%; text-align:center;'>優點</td>
                        <td style='border:1px solid #000000; width:80%; text-align:left; padding-left:15px;'>
                            <ul>
                                <li><span style='font-weight:bold;'>充滿好奇心</span> -喜歡學習新事物及新技術，看到有趣或實用的技術時，會自己嘗試做做看並且學習起來。</li>
                                <li><span style='font-weight:bold;'>個性好相處</span> -個性較溫和，不太會與人吵架結怨。</li>
                                <li><span style='font-weight:bold;'>富有責任感</span> -分配到的任務會盡力去完成，如有閒暇之餘也喜歡幫助別人。</li>
                            </ul>
                        </td>
                    </tr>
                    <tr style='height:40px;'>
                        <td style='border:1px solid #000000; width:20%; text-align:center;'>缺點</td>
                        <td style='border:1px solid #000000; width:80%; text-align:left; padding-left:15px;'>
                            <ul>
                                <li><span style='font-weight:bold;'>英文程度稍弱</span> -利用APP一天學習一部影片，看懂內容並且背下其中單字，增強英文能力。</li>
                                <li><span style='font-weight:bold;'>記憶力稍差</span> -勤作筆記，列出Todolist幫助記憶，讓自己永遠知道下一步要做什麼。</li>
                            </ul>
                        </td>
                    </tr>

                </table>
            </td>
        </tr>
    </table>
</body>
</html>

