@using Microsoft.AspNet.Identity
@using YockResume.Utils


<ul class="nav navbar-nav">
    <li class="@(Html.IsCurrentController("Resume") ? "active" : "")">
        <a href="@Url.Action("Index", "Resume")" class="btn">
            履歷
        </a>
    </li>
    <li class="@(Html.IsCurrentController("Autobiography") ? "active" : "")">
        <a href="@Url.Action("Index", "Autobiography")" class="btn">
            自傳
        </a>
    </li>
    <li class="@(Html.IsCurrentController("Contact") ? "active" : "")">
        <a href="@Url.Action("Index", "Contact")" class="btn">
            聯絡我
        </a>
    </li>
</ul>
 